<html>
  <head>
    <title>Student list</title>
  </head>
  <body ng-app="studentApp" ng-controller="StudentCtrl">
    <h1>Students Listing Page</h1>
    <div class="container">
      <table border="1px solid pink">
        <tr>
          <th>Roll No.</th>
          <th>Name</th>
          <th>Address</th>
          <th>Standard</th>
        </tr>
        <tr ng-repeat="student in students">
          <td>{{student.roll_no}}</td>
          <td>{{student.name}}</td>
          <td>{{student.address}}</td>
          <td>{{student.standard}}</td>
          <td><input type=button value='show'><input type=button value='update'><input type=button value='delete'></td>
        </tr>
      </table>
    </div>
    <input type=button ng-click="showform=true" value= 'add new student'><br/>
    <div class="form_container" ng-show="showform">
      <h3>Roll No.</h3>
      <input type="text" id="roll_no" placeholder="Rollnumber" ng-model="roll_no"/>
      <h3>Student Name</h3>
      <input type="text" id="name" placeholder="name" ng-model="name"/>
      <h3>Address</h3>
      <input type="text" id="address" placeholder="address" ng-model="address"/>
      <h3>Standard</h3>
      <input type="text" name="standard"placeholder="standard" ng-model="standard"/>
      <button type="submit" class="add_student" ng-click="addStudent()">Add student</button>
    </div>
  </body>
</html>
