 <!DOCTYPE html>
 <html>
 <head>
   <title>Add new student</title>
 </head>
  <body ng-app="app">
    <div class="container">
      <h4>Roll No.</h4>
      <input type="text" id="roll_no" placeholder="Rollnumber" ng-model="roll_no"/>
      <h3>Student Name</h3>
      <input type="text" id="name" placeholder="name" ng-model="name"/>
      <h3>Address</h3>
      <input type="text" id="address" placeholder="address" ng-model="address"/>
      <h3>Standard</h3>
      <input type="text" name="standard"placeholder="standard" ng-model="standard"/>
      <!-- <button type="submit" class="addStudent" ng-click="addStudent()"><h3>Add student</h3></button> -->
    </div>
  <a href="#/students" ng-click="addStudent()"><h4>Add Student</h4></a> <h4></h4>
  </body>
 </html>
